#first{
	color: blue;
}
#image1{
	border-radius: 30%
}
#second{
	color: green;
}
#image2{
	border-radius: 15%
}
#image3{
	border-radius: 20%
}
#third{
	color: orange
}
#me{
	background: grey
}